body {
  height: 100vh;
}

.btn {
  background-color: green;
  color: #fff;
  padding: 15px 20px;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  position: fixed;
  left: 0;
  top: 0;

  z-index: 10;
}

.modal-dialog {
  width: 700px;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #f4f4f4;
  padding: 10px;
}

img.avatar {
  width: 100px;
  border-radius: 50%;
}

input[class="form-control"] {
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px 20px;

  box-sizing: border-box;
}

input[class="form-control"]:focus {
  outline: none;
}
