*{
	box-sizing: border-box;
}

body{
	height: 100vh;

	display: grid;
	place-items: center;

	padding: 0;
	margin: 0;
}

.container{
	width: 900px;
	background: #f4f4f4;
	padding: 20px;
}

.modal{
	width: 100%;
	height: 100%;
	background: #333;

	position: absolute;
	left: 0;
	top: 0;

	z-index: 10;
	display: flex;

	justify-content: center;
	align-items: center;

	transform: scale(0,0);
	transform-origin: 100px 100px;
	transition: all .5s;
}

.btn-close{
	color: #f4f4f4;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;

	position: fixed;
	right: 40px;
	top: 20px;

	cursor: pointer;
	transition: all .3s;
}

.btn-close:hover{
	color: red;
}

.form{
	width: 500px;
	display: block;
	margin: auto;
}

.form h2{
	color: #f2f2f2;
}

.input-group{
	width: 100%;
	display: flex;
	margin-bottom: 15px;
}

.input-group .fas{
	width: 50px;
	height: auto;
	background: steelblue;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.input-group-text{
	width: 100%;
	padding: 10px;
	outline: none;
}

.input-group-text:focus{
	border: 2px solid steelblue;
}

.d-grid .btn{
	width: 100%;
	background-color: steelblue;
	color: #fff;
	border: none;
	padding: 15px 20px;
	cursor: pointer;
	opacity: 0.9;
}

.d-grid .btn:hover{
	opacity: 1;
}

:fullscreen{
	background: #777;
}

:-ms-fullscreen{
	background: #777;
}

:-webkit-full-screen{
	background: #777;
}