.textalign{
	/*text-align: left;*/
	/*text-align: right;*/
	/*text-align: center;*/
	text-align: justify;
}
.textdecoration{
	/*text-decoration: underline;
	text-decoration: overline;*/
	text-decoration: line-through;
}
a{
	text-decoration: none;
}
.textline{
	/*letter-spacing: 2px;*/
	line-height: 2;
}
.textshadow{
	/*h v b c
	h means horizontal,
	v means vertical,
	b means blur,
	c means color */
	/*text-shadow: 20px -5px 2px red;*/
	/*text-shadow: 0px -10px 2px pink, 0px 10px 2px blue,50px 5px 2px red;*/
	text-shadow: 5px 0px 5px blue, -5px 0px 5px red;

}




