.firstdiv{
	width: 200px;
	height: 200px;
/*	background-color: green;*/
/*	background-color: #fcba03;*/
/*	background-color: rgba(214, 46, 127, 1.0);*/

/*	background: green;*/
/*	background: #fcba03;*/
	background: rgba(214, 46, 127, 1.0);

	color: #fff;
	font-size: 20px;	
}

.seconddiv{
	width: 300px;
	height: 300px;
	background-image: url('../img/cover/bg1.jpg');
/*	background: url('../img/cover/bg1.jpg');*/

/*	can't
	background-color: url('../img/cover/bg1.jpg');*/

	background-repeat: no-repeat;
	/*background-repeat: repeat;*/
	/*background-repeat: repeat-x;*/
	/*background-repeat: repeat-y;*/

	background-position: center;

	border: 1px solid green;
	color: white;
}

.divthree{
	width: 300px;
	height: 300px;
	border: 2px solid red;
	/*background: green;*/

/*	can't
	background-color: linear-gradient(red,orange);*/

/*	can
	background: linear-gradient(red,orange);*/

	/*background-image: linear-gradient(red,orange);*/
	/*background: linear-gradient(red,orange,blue,green);*/
	/*background: linear-gradient(#fcba03,#030cfc);*/
	background: linear-gradient(rgba(214, 46, 127, 1.0),rgba(45, 215, 127, 1.0));

	/*background: linear-gradient(
		red,
		#fcba03,
		rgba(214, 46 127, 1.0)
	);*/

	background: radial-gradient(red,orange);
	background: radial-gradient(red,orange,blue,green);
	background: radial-gradient(rgba(214, 127, 46, 1.0), rgba(12, 30, 256, 1.0));

}
.divfour{
	width: 300px;
	height: 300px;
	border: 1px solid black;
/*	background: linear-gradient(blue,red), url(../img/cover/bg2.jpg);*/

	background: linear-gradient(
		45deg,
		red,
		orange
	);
}
